@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

html {
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Red Hat Text", sans-serif;
}

header {
    padding: 0.7rem 2rem;
    background-color: rgb(41, 39, 39);
    color: aliceblue;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;
}
footer .contact{
    line-height: 1.5rem;
    padding: 0.7rem 2rem;
    background-color: rgb(41, 39, 39);
    color: white;
}
h4{
    font-size: 1.2rem;
}
hr{
    margin: 5px;
}
.copy-right{
    text-align: center;
}

.main-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    background-image: url("../img/shopping.JPG");
    background-position: bottom;
    background-size: cover;
    opacity: 0.7;
}

.wrapper h1 {
    font-size: 3rem;
    padding: 0.5rem 1.5rem;
    text-shadow: 6px 5px rgba(160, 235, 215, 0.5);
}

.main-title p {
    position: relative;
    top: -10%;
    max-width: 100%;
    font-size: 2rem;
    line-height: 4rem;
    color: aquamarine;
    font-weight: 800;
}

#new-year {
    text-decoration: underline;
}

.nav-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    font-size: 1.2rem;
}

.nav-items a {
    font-weight: 650;
    text-decoration: none;
    color: inherit;
}

.nav-items li:hover,
i:hover {
    color: black;
    cursor: pointer;
    background-color: white;
    border-radius: 3px;
    box-shadow: 3px 3px rgb(139, 138, 138);
}

input {
    height: 1.3rem;
    border-radius: 3px;
}

.search-btn {
    width: 1.5rem;
    height: 1.3rem;
    border-radius: 3px;
}

.featured {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.featured-products {
    color: rgb(73, 188, 150);
    font-size: 2rem;
    margin-top: 2rem;
}

.partial-line {
    position: relative;
    width: 350px;
    height: 50px;
}
.category-block{
    margin: 2rem;
}
.category-name {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 2rem;
    text-shadow: 5px 3px 2px pink;
}

.product-items-container {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    grid-auto-rows: minmax(100px, 600px); 
}

.product-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 380px;
    border: 2px solid lightblue;
    border-radius: 5px;
    box-shadow: 8px 5px rgb(192, 199, 255);
    overflow: hidden;

}

.item-img {
    width: 100%;
    height: 90%;
    object-fit: contain;
    transition: transform 0.3s linear;

}

.product-item h3 {
    font-size: 1.3rem;
    padding-top: 1rem;
}

.product-item p {
    font-size: 1.05rem;
    font-weight: 800;
    color: hsl(159, 43%, 35%);

}

.add-cart-btn {
    margin: 0.5rem;
}

aside {
    position: relative;
}

.purchased-list {
    position: fixed;
    top: 0;
    right: -200%;
    background-color: rgb(236, 241, 239);
    z-index: 9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px gray;
    transition: left 0.5s ease-in-out ;

}

.open {
    width: 420px;
    top: 50px;
    right: 0;
}

.purchased-list h3 {
    margin: 2px;
    font-size: 1.1rem;
    color: rgb(239, 45, 152);
}

.cart-list li {
    list-style-type: none;
    font-weight: 500;
}
#total{
    color: brown;
    font-weight: 700;
    font-size: 1.1rem;
    text-align: center;
    margin-top: 3px;
}

.fa-bag-shopping {
    color: brown;
}

.add-btn,
.delete-btn {
    width: 1rem;
    height: 1rem;
    border: none;
    border-radius: 5px;
    background-color:brown;
    color: white;
    cursor: pointer;
    margin-left: 2px;
}
.add-cart-btn{
    width: 100px;
    height: 30px;
    border-radius: 30px;
    border:none;
    background-color: rgb(170, 250, 250);
    font-weight: 700;
}
.add-cart-btn:hover {
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 3px 3px rgb(139, 138, 138);
}
.hide{
    display: none !important; 
}
.search-results{
    position: fixed;
    top:20%;
    left:23%;
    display: none;
    gap: 10px;
    padding: 1rem;
    width: 60%;
    height: 50%;
    background-color: white;
    border: 3px solid rgb(154, 154, 154);
    border-radius: 5px;
    box-shadow:5px 5px rgb(155, 154, 154), -0.4em 0 .4em rgb(102, 167, 197);
    z-index: 10;
    overflow-y: auto;
}
.search-item-img{
    width: 30px;
    margin: 5px 10px;
}
.search-results-item {
    display: flex;
    align-items: center;
    margin: 5px 10px;
}
.search-item-price{
    color:  hsl(159, 43%, 35%);
}
.tooltip-text{
    text-align: center;
    display: none;
}
.product-item:hover .tooltip-text{
    display: block;
    color: blue;
}
.product-item:hover .item-img{
    transform: scale(1.2);
}
.product-item:hover .item-img-container {
    transform: scale(1.0,1.06);
    /* width: 370px;
    height: 400px; */
}

@media(max-width:1300px){
    .product-items-container {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}

@media(max-width:900px){
    header{
        max-width: 100%;
    }
    .nav-items{
        justify-content: center;
        gap:1rem;
    }
    .wrapper h1 {
        text-align: center;
    }
    .product-items-container{
        display: flex;
        flex-direction: column;
    }
    .open{
        width: 100%;
     }
    html {
        scroll-padding-top: 80px;
    }
     
}
@media(max-width:650px){
    .open{
        top:80px;
     }
     html {
        scroll-padding-top: 100px;
    }
}
@media(max-width:400px){
    .open{
        top:120px;
     }
     
}